.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: justify;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

.Typography {
  padding: .25em;
}